:root {
  /* colors */
  --tt-color-primary: #bb5fff;
  --tt-color-secondary: #297eff;
  --tt-border-color: var(--md-ref-palette-neutral-variant-20, #828282);

  /* fonts */
  --tt-font-family: Roboto, sans-serif;
  --tt-font-family-mono: "Roboto Mono", monospace;

  /* shadows */
  --tt-sys-color-shadow-1: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06);
  --tt-sys-color-shadow-2: 0 3px 12px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.07);
  --tt-sys-color-shadow-3: 0 12px 32px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.08);
  --tt-sys-color-shadow-4: 0 14px 44px rgba(0, 0, 0, 0.12), 0 3px 9px rgba(0, 0, 0, 0.12);
  --tt-sys-color-shadow-5: 0 18px 56px rgba(0, 0, 0, 0.16), 0 4px 12px rgba(0, 0, 0, 0.16);

  /* input */
  --tt-input-container-color: #ffffff;
  --tt-input-text-color: rgba(42, 42, 42, 0.77);
  --tt-input-placeholder-color: rgba(42, 42, 42, 0.57);
}

[color-theme="dark"] {
  color-scheme: dark;
  --tt-color-text: rgba(255, 255, 255, 0.87);
  --tt-color-background: #242424;
}

[color-theme="light"] {
  color-scheme: light;
  --tt-color-text: rgba(0, 0, 0, 0.87);
  --tt-color-background: #ffffff;
}
