.tt-color-brand-gradient {
  background: linear-gradient(
      to right,
      var(--tt-color-primary) 10%,
      var(--tt-color-secondary) 50%,
      var(--tt-color-primary) 80%,
      var(--tt-color-secondary) 100%
    ) -100%/
    200%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  /* animation: shimmer 3s linear infinite; */
}

@keyframes shimmer {
  to {
    background-position: 100%;
  }
}
