:root {
  --app-header-height: 120px;
  --app-page-padding: 2rem;
}

html,
body {
  margin: 0;
  padding: 0;
  min-inline-size: 320px;
  block-size: 100%;
  overflow: hidden;
}

*:not(:defined) {
  display: none;
}
