@import url(colors.css);
@import url(layout.css);

:root {
  font-family: var(--tt-font-family);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;
  color: var(--tt-color-text);
  background-color: var(--tt-color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--md-sys-color-primary);
  text-decoration: inherit;

  &:hover {
    color: var(--md-sys-color-on-primary);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--tt-color-text);
    background-color: var(--tt-color-background);
  }
}
