header {
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  grid-template-areas: "a b c";
  block-size: var(--app-header-height);
  padding-inline: 1rem;
}

.image {
  grid-area: a;
  display: flex;
  align-items: center;
  /*
  img {
    border-radius: 50%;
    box-shadow: 0 0 6px 5px hsla(270, 51%, 32%, 0.6);
    transition:
      box-shadow 0.3s ease,
      transform 0.3s ease;
    will-change: box-shadow, transform;

    &:hover {
      box-shadow: 0 0 10px 8px hsla(270, 51%, 32%, 0.6);
      transform: scale(1.03);
    }
  } */
}

.title {
  grid-area: b;
  display: grid;
  color: #38eaa0;
  place-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--tt-color-primary);
}

.menu {
  grid-area: c;
}
