@import url(../constants.css);

[color-theme="dark"] {
  color-scheme: dark;
  --md-sys-color-primary: var(--tt-color-primary);
  /* --md-sys-color-primary: rgb(226 182 255); */
  --md-sys-color-surface-tint: rgb(226 182 255);
  --md-sys-color-on-primary: rgb(77 0 123);
  --md-sys-color-primary-container: rgb(191 104 255);
  --md-sys-color-on-primary-container: rgb(60 0 97);
  --md-sys-color-secondary: var(--tt-color-secondary);
  /* --md-sys-color-secondary: rgb(174 198 255); */
  --md-sys-color-on-secondary: rgb(0 46 107);
  --md-sys-color-secondary-container: rgb(79 142 255);
  --md-sys-color-on-secondary-container: rgb(0 25 65);
  --md-sys-color-tertiary: rgb(255 176 208);
  --md-sys-color-on-tertiary: rgb(99 0 61);
  --md-sys-color-tertiary-container: rgb(243 84 167);
  --md-sys-color-on-tertiary-container: rgb(77 0 46);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(23 17 26);
  --md-sys-color-on-background: rgb(235 223 236);
  --md-sys-color-surface: rgb(23 17 26);
  --md-sys-color-on-surface: rgb(235 223 236);
  --md-sys-color-surface-variant: rgb(77 67 83);
  --md-sys-color-on-surface-variant: rgb(208 194 213);
  --md-sys-color-outline: rgb(153 140 159);
  --md-sys-color-outline-variant: rgb(77 67 83);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(235 223 236);
  --md-sys-color-inverse-on-surface: rgb(53 46 56);
  --md-sys-color-inverse-primary: rgb(138 39 205);
  --md-sys-color-primary-fixed: rgb(243 218 255);
  --md-sys-color-on-primary-fixed: rgb(46 0 77);
  --md-sys-color-primary-fixed-dim: rgb(226 182 255);
  --md-sys-color-on-primary-fixed-variant: rgb(109 0 172);
  --md-sys-color-secondary-fixed: rgb(216 226 255);
  --md-sys-color-on-secondary-fixed: rgb(0 26 66);
  --md-sys-color-secondary-fixed-dim: rgb(174 198 255);
  --md-sys-color-on-secondary-fixed-variant: rgb(0 67 150);
  --md-sys-color-tertiary-fixed: rgb(255 216 230);
  --md-sys-color-on-tertiary-fixed: rgb(61 0 36);
  --md-sys-color-tertiary-fixed-dim: rgb(255 176 208);
  --md-sys-color-on-tertiary-fixed-variant: rgb(140 0 87);
  --md-sys-color-surface-dim: rgb(23 17 26);
  --md-sys-color-surface-bright: rgb(62 55 65);
  --md-sys-color-surface-container-lowest: rgb(18 12 21);
  --md-sys-color-surface-container-low: rgb(31 25 35);
  --md-sys-color-surface-container: rgb(35 29 39);
  --md-sys-color-surface-container-high: rgb(46 40 50);
  --md-sys-color-surface-container-highest: rgb(57 50 61);
}
